---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/Header/Header"
import Products from "../components/Products/Products"
import Hero from "../components/Hero/Hero.astro"
import Features from "../components/Features/Features"
import ShippingPayment from "../components/ShippingPayment/ShippingPayment.astro";
import Footer from "../components/Footer/Footer.astro"


const productosDestacados = [
  {
    titulo: "Casco de Bicicleta Aerodin치mico Pro",
    imagen: "https://static.vecteezy.com/system/resources/thumbnails/021/909/467/small_2x/old-bike-helmet-png.png",
    precio: 100.00,
    descripcion: "El Casco de Bicicleta Aerodin치mico Pro combina seguridad y rendimiento. Con su dise침o avanzado y materiales ligeros, ofrece una protecci칩n superior sin comprometer la velocidad. Las m칰ltiples ventilaciones aseguran una excelente circulaci칩n de aire, manteni칠ndote fresco en todo momento. Perfecto para ciclistas profesionales y aficionados que buscan lo mejor en equipamiento de ciclismo.",
    descuento: 10.00,
    id: 1,
    primero: true
  },
  {
    titulo: "Luces LED para Bicicleta Nocturna",
    imagen: "https://i.ibb.co/P9LcpCq/luces-led-para-bicicleta-usb-recargables-gadnic1-10dc7b443da200c4ad16917733506029-480-0-removebg-pre.png",
    precio: 200.00,
    descripcion: "Las Luces LED para Bicicleta Nocturna garantizan m치xima visibilidad y seguridad en tus paseos nocturnos. Con diferentes modos de iluminaci칩n y una bater칤a de larga duraci칩n, estas luces son esenciales para cualquier ciclista. F치ciles de instalar y resistentes al agua, te acompa침ar치n en todas tus aventuras, brind치ndote la confianza para rodar de noche.",
    descuento: 20.00,
    id: 2
  },
  {
    titulo: "Guantes de Ciclismo Antideslizantes",
    imagen: "https://i.ibb.co/1QrwvTY/png-clipart-giro-d-italia-cycling-glove-cycling-glove-bicycle-cycling-removebg-preview.png",
    precio: 300.00,
    descripcion: "Los Guantes de Ciclismo Antideslizantes ofrecen un agarre superior y confort en cada recorrido. Fabricados con materiales transpirables y acolchado estrat칠gico, estos guantes reducen la fatiga y protegen tus manos. Ideales para largas jornadas de ciclismo, proporcionan una excelente adherencia al manillar en cualquier condici칩n clim치tica.",
    descuento: 30.00,
    id: 3
  },
  {
    titulo: "C치mara de Aire Resistente a Pinchazos",
    imagen: "https://i.ibb.co/xLcG9TP/b98529257272-removebg-preview.png",
    precio: 400.00,
    descripcion: "La C치mara de Aire Resistente a Pinchazos es tu mejor aliada contra los terrenos dif칤ciles. Dise침ada con tecnolog칤a avanzada, esta c치mara reduce significativamente el riesgo de pinchazos, asegurando que tus viajes sean m치s seguros y sin interrupciones. Compatible con la mayor칤a de las bicicletas, es f치cil de instalar y te permitir치 disfrutar de tus rutas con total tranquilidad.",
    id: 4
  }
];

const productosEspeciales = [
  {
    titulo: "Casco de Ciclismo de Competici칩n",
    imagen: "https://i.ibb.co/X4Q3RMh/png-clipart-capacete-asw-bike-elite-18-bicycle-helmets-motorcycle-helmets-orange-bicycle-removebg-pr.png",
    precio: 100.00,
    descripcion: "El Casco de Ciclismo de Competici칩n combina seguridad y rendimiento. Con su dise침o avanzado y materiales ligeros, ofrece una protecci칩n superior sin comprometer la velocidad. Las m칰ltiples ventilaciones aseguran una excelente circulaci칩n de aire, manteni칠ndote fresco en todo momento. Perfecto para ciclistas profesionales y aficionados que buscan lo mejor en equipamiento de ciclismo.",
    descuento: 10.00,
    id: 1,
    primero: true
  },
  {
    titulo: "Faro Delantero de Alta Potencia para Bicicleta",
    imagen: "https://i.ibb.co/L56Tccw/png-clipart-capacete-asw-bike-elite-18-bicycle-helmets-motorcycle-helmets-orange-bicycle.png",
    precio: 200.00,
    descripcion: "El Faro Delantero de Alta Potencia para Bicicleta garantiza m치xima visibilidad y seguridad en tus paseos nocturnos. Con diferentes modos de iluminaci칩n y una bater칤a de larga duraci칩n, este faro es esencial para cualquier ciclista. F치cil de instalar y resistente al agua, te acompa침ar치 en todas tus aventuras, brind치ndote la confianza para rodar de noche.",
    descuento: 20.00,
    id: 2
  },
  {
    titulo: "Guantes de Ciclismo de Monta침a",
    imagen: "https://i.ibb.co/8Njnk3Y/png-transparent-cycling-glove-mountain-bike-bicycle-gloves-leather-mountain-biking-quality-removebg.png",
    precio: 300.00,
    descripcion: "Los Guantes de Ciclismo de Monta침a ofrecen un agarre superior y confort en cada recorrido. Fabricados con materiales transpirables y acolchado estrat칠gico, estos guantes reducen la fatiga y protegen tus manos. Ideales para largas jornadas de ciclismo, proporcionan una excelente adherencia al manillar en cualquier condici칩n clim치tica.",
    descuento: 30.00,
    id: 3
  },
  {
    titulo: "Kit de Reparaci칩n de Emergencia para Bicicletas",
    imagen: "https://i.ibb.co/dkzLVjb/D-774072-MLA72292883588-102023-C-removebg-preview.png",
    precio: 400.00,
    descripcion: "El Kit de Reparaci칩n de Emergencia para Bicicletas es tu mejor aliado contra los terrenos dif칤ciles. Dise침ado con tecnolog칤a avanzada, este kit reduce significativamente el riesgo de pinchazos, asegurando que tus viajes sean m치s seguros y sin interrupciones. Compatible con la mayor칤a de las bicicletas, es f치cil de transportar y te permitir치 disfrutar de tus rutas con total tranquilidad.",
    id: 4
  }
];

---


<Layout title="Driving Bike 游">
	<main>
		<NavBar client:load/>
		<Hero/>
		<Products client:load produtos={productosDestacados} titulo="PRODUCTOS DESTACADOS" />
		<Features/>
    <Products client:load produtos={productosEspeciales} titulo="PRODUCTOS ESPECIALES" />
		<ShippingPayment/>
		<Footer/>
	</main>
</Layout>