---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/Header/Header"
import Products from "../components/Products/Products"
import Hero from "../components/Hero/Hero.astro"
import ShippingPayment from "../components/ShippingPayment/ShippingPayment.astro";
import Footer from "../components/Footer/Footer.astro"
---

<Layout title="Driving Bike 🚲">
	<main>
		<NavBar/>
		<Hero/>
		<Products client:load />
		<ShippingPayment/>
		<Footer/>
	</main>
</Layout>