---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/Header/Header"
import Products from "../components/Products/Products"
import Hero from "../components/Hero/Hero.astro"
---

<Layout title="Driving Bike 🚲">
	<main>
		<NavBar/>
		<Hero/>
		<Products client:load />
	</main>
</Layout>