---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/Header/Header"
import Hero from "../components/Hero/Hero.astro"

---

<Layout title="">
	<main>
		<NavBar/>
		<Hero/>
	</main>
</Layout>