<div class="bg-blue-600 lg:py-24 py-14">
    <div class="w-10/12 mx-auto">
        <div class="grid lg:grid-cols-2 grid-cols-1 lg:gap-0 gap-10">
            <div class="flex lg:flex-row flex-col justify-center items-start lg:gap-10 gap-2 lg:px-5 px-2">
                <div class="flex-none flex justify-center items-center lg:w-36 lg:h-36 w-24 h-24 p-5 mx-auto border border-cyan-500 rounded-full">
                    <img class="lg:h-24 lg:w-24 h-16 w-16 text-white" src="https://cdn-icons-png.flaticon.com/512/44/44266.png" alt="Envios y deliverys">
                </div>
                <div class="px-2">
                    <h3 class="text-slate-100 font-bold text-xl mb-3 lg:text-start text-center">Envios y deliverys</h3>
                    <p class="text-slate-100 font-medium lg:text-start text-center">Realizamos envíos y deliverys a todo el país, garantizando que su bicicleta llegue en perfectas condiciones. Ofrecemos opciones de entrega rápida y segura, con seguimiento en tiempo real para su tranquilidad. ¡Disfrute de su nueva bicicleta sin preocupaciones, donde quiera que esté!</p>
                </div>
            </div>
            <div class="flex lg:flex-row flex-col justify-center items-start lg:gap-10 gap-2 px-8">
                <div class="flex-none flex justify-center items-center lg:w-36 lg:h-36 w-24 h-24 p-5 mx-auto border border-cyan-500 rounded-full">
                    <img class="lg:h-24 lg:w-24 h-16 w-16 text-white" src="https://cdn-icons-png.flaticon.com/512/1211/1211497.png" alt="Metodos de pago">
                </div>
                <div class="px-2">
                    <h3 class="text-slate-100 font-bold text-xl mb-3 lg:text-start text-center">Diversos metodos de pago</h3>
                    <p class="text-slate-100 font-medium lg:text-start text-center mb-5">Ofrecemos diversos métodos de pago para su comodidad: tarjetas de crédito y débito, transferencias bancarias y pagos en efectivo. Además, contamos con opciones de financiamiento para que pueda adquirir su bicicleta de manera fácil y conveniente. ¡Elija la opción que mejor le convenga!
                    </p>
                    <img class="lg:h-12 h-8 mx-auto" src="https://www.nicepng.com/png/full/254-2542614_social-media-links-visa-mastercard-accepted-banner-sign.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>